* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  
}


.logo-top {
  width: 60%;
  padding-left: 10px;
  text-align: center;

}

textarea{
  margin-left:200px ;
}

.title {
  /* display: inline-block; */
  text-align: center;
  padding-bottom: 20px;
}

#submit{
  font-size: 35px;
  border-radius: 10px;
  background-color:white;
  border-style: solid;
  border-color: white;
  margin-left:45%;
  padding: 10px;
}

button[type=button]{
  margin: 35px;
  width: 0200px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color:white;
  border-style: solid;
  border-color: white;
  color: #00235a;
  font-weight: 800;
  cursor: pointer;
  outline: none;
  padding: 15px;
  
}

a {
  text-decoration: none;
  text-decoration-color: #00235a;
}
label{
  font-size: 45px;
}
#name, #email {
    width: 80%;
    text-align: center;
    padding: 15px;
    margin: 8px 100px;
    box-sizing: border-box;
}
#blog {
  width: 80%;
  text-align: center;
  padding: 15px;
  margin: 80px 100px;
  box-sizing: border-box;
}
#blog:focus {
  text-align: left;
}

.container1 {
  min-height: 100vh;
  font-weight: 1000;

  background:linear-gradient(90deg, #ffffff 23%, #0e43a6 78%);
}

.mob-img {
  width: 400px;
  padding-top: 200px;
  
}
.stats{
  margin: auto;
  width: 70%;
  text-align: center;
}

.buttons {
  margin: auto;
  margin-bottom: 0px;
  width: 70%;
  text-align: center;
}

.confirmed{
    background:linear-gradient(90deg, #ff0004 52%, #0d43a5 100%);
    border-radius:18px;
    margin:10px;
    text-align:center;
    padding:8px;
    color: white;
    
}
.recovered{
    background:linear-gradient(90deg, #0ebc04 52%, #0d43a5 100%);
    margin:10px;
    text-align:center;
    border-radius:18px;
     padding:8px;
    color: white;

}
.deaths{
    background:linear-gradient(90deg, #797777 64%, #0d43a5 100%);
    margin:10px;
    text-align:center;
    border-radius:18px;
     padding:8px;
    color: white;
}
.number {
  font-weight: 300;
  font-size: 40px;
}

.search-box {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.search {
  outline: #004EF7;
  width: 40%;
  font-size: 25px;
  background-color: transparent;
  border-style: solid;
  border-color: #00235a;
  border-width: 4px;
  border-radius: 15px;
  padding: 10px;
  color: black;
  margin-bottom: 20px;
}

.result {
  margin: 30px 70px;
  /* border-style:solid; */
  /* border-color: red; */
}

h1{
   font-family: 'Montserrat',   sans-serif;
   font-size: 45px;
   font-weight: 700;
   padding-top: 30px;
    margin-bottom: 80px;
   text-align: center;
   margin-left: 100px;
   margin-left: 100px;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
}

th, td {
  font-size: large;
  text-align:center;
  padding:5px 0;
  
}
/* tbody tr:nth-child(even){
    
   background:linear-gradient(90deg, #ffffff 20%, #4d75bd 100%);
} */

.country {
  height: 50px;
  color: black;
  /* padding: 20px; */
  margin: 5px;
  
  border-radius: 10px;
  /* background:linear-gradient(90deg, #ffffff 20%, #4d75bd 100%); */
  text-align: center;
} 

.heading {
  color: white;
  background-color: #2849d5;
  height: 80px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  border-collapse: separate;
}

body {
  font-family: 'Montserrat',
  sans-serif;
  background:linear-gradient(90deg, #ffffff 23%, #0e43a6 78%);
}

/* NAVBAR */
.nav {
  height: 110px;
  width: 100%;
  background:linear-gradient(90deg, #ffffff 23%, #0e43a6 78%);
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  /* padding: 10px 10px 10px 10px; */
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  text-align: center;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
} 

.nav>#nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  /* .nav>.nav-btn>label:hover, */
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    
    width: 100%;
    /* background-color: #333; */
    background:linear-gradient(90deg, #ffffff 23%, #0e43a6 78%);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* BLOGS */
.blogs{
  width: auto;
  margin: 2% 10% 2% 10%;
  border: 0;
  
  border-radius: 10px;
  border-collapse: collapse;
  display: block;
  background:linear-gradient(90deg, #c9d6ff 0%, #e2e2e2 100%);
}

.blogAuthor{
  background:linear-gradient(90deg, #6184c4 0%, #e0e1e3 100%);
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogContent {
  font-size: 25px;
  padding: 20px;
}

.blogAuthorName{
  text-align: left;
}

.blogDate{
  text-align: right;
  float: right;
}

.danger {
  color: #c20505 ;
}
.notDanger {
  color: lightgreen;
}

a {
  color: inherit;
}